<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobrand.appwall.classic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>

        <activity
            android:hardwareAccelerated="true"
            android:name="com.mobrand.appwall.classic.AppWall"
            android:theme="@style/MobrandAppwallTheme"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:launchMode="singleTask"/>

    </application>

</manifest>
