<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobrand.appwall.classic">



    <application>

        <activity
            android:hardwareAccelerated="true"
            android:name="com.mobrand.appwall.classic.AppWall"
            android:theme="@style/MobrandAppwallTheme"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:launchMode="singleTask"/>

    </application>

</manifest>
